[submodule "third_party/librime"]
	path = third_party/librime
	url = https://github.com/rime/librime.git
[submodule "third_party/rime-ice"]
	path = third_party/rime-ice
	url = https://github.com/iDvel/rime-ice.git
